body {
    background: radial-gradient(ellipse at center, #2d2d3c 0%, #24243a 100%);
    min-height: 100vh;
    width: 100%;
    height: 200vh;
}
a * {
    text-decoration: none;
    color: initial;
    display: inline-block;
}

header {
    position: fixed;
    height: 50px;
    line-height: 50px;
    width: 100%;
}
header, header * {
    transition: 1s;
}
header.min {
    height: 30px;
    line-height: 30px;
    background-color: #24243a;
}
header .fav .icon {
    width: 40px;
    margin: 5px;
    float: left;
    animation: HeaderFavIcon 4s backwards infinite;
}
header.min .fav .icon {
    width: 24px;
    margin: 3px;
}

header .fav:hover .icon {
    animation: HeaderFavIconHover 1s backwards infinite linear;
}
@keyframes HeaderFavIcon {
    0% {transform: rotate(0deg);}
    70% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes HeaderFavIconHover {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

header .fav span {
    position: relative;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    float: left;
    color: #77B3D4;
    font-weight: bold;
}
header.min .fav span {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}
header .fav:hover span:after {
    position: absolute;
    right: 0;
    content: 'vies';
    color: #FFFFFF;
}

